PORT=8080
USER_SERVICE_HOST=127.0.0.1
USER_SERVICE_PORT=8081
WORKFORCE_SERVICE_HOST=127.0.0.1
WORKFORCE_SERVICE_PORT=8082
NOTIFICATION_SERVICE_HOST=127.0.0.1
NOTIFICATION_SERVICE_PORT=8083

MINIO_ENDPOINT=
MINIO_PORT=
MINIO_USE_SSL=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=

JWT_EXPIRES_IN=2592000  # 30 days
JWT_SECRET=your_jwt_secret_key

BCRYPT_SALT_ROUNDS=10

RATE_LIMIT_TTL=60
RATE_LIMIT_LIMIT=60

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM_NAME=
MAIL_FROM_EMAIL=

MONGO_URI=mongodb://localhost:27017/office-management

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB_AUTH=1
REDIS_DB_THROTTLE=2
REDIS_DB_SESSION=3